@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    font-family: Roboto;
    font-size: 80px;
    line-height: 94px;
    margin: 63px auto 38px 0;
}

.color-logo {
    color: blue;
}

.navbar {
    display: flex;
    background: #35444F;
    justify-content: center;
    margin-bottom: 48px;
}

.navbar-links {
    display: block;
    padding: 26px 33px 19px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 24px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    text-decoration: none;
}

.sidebar {
    width: 344px;
    border: 1px solid #000000;
    margin-bottom: auto;
}

main {
    display: flex;
    justify-content: space-between;
}

.sidebar-items {
    display: block;
    font-family: Roboto;
    font-size: 27px;
    align-items: center;
    color: #485863;
    padding: 26px 26px 26px 44px;
    text-decoration: none;
}

.picture-main {
    width: 885px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.picture {
    width: 320px;
    margin: 75px 268px 73px 297px;
    transition: 1s;
}

.content-text {
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
    width: 885px;
}

.footer {
    display: flex;
    width: 1280px;
    background: rgba(99, 105, 110, 0.48);
    margin: 54px 0 30px;
}

.footer ul {
    display: flex;
    width: 875px;
    margin-left: 40px;
}

.footer-link {
    display: block;
    text-decoration: none;
    color: #0C1927;
    padding: 20px 10px 20px;
    font-size: 28px;
    font-family: Roboto;
}

.copyright {
    font-family: Roboto;
    font-size: 24px;
    line-height: 24px;
    align-items: center;
    color: #010101;
    margin: auto 40px auto 135px;
}

.navbar-links:hover {
    background: #222F3A;
}

.sidebar-items:hover {
    background: #DBDBDB;
    font-size: 27px;
    color: #35444F;
    text-align: center;
}

.footer-link:hover {
    color: blue;
    text-decoration: underline;
}

.picture:hover {
    transform: scale(1.2);
}

.links-logo {
    text-decoration: none;
    color: black;
}